[am-container="advantages"] {
    height: 950px;
    overflow: hidden;

    [am-item]:last-child {
        margin-bottom: 178px;
    }

    @media (max-width: $md) {
        & {
            height: 800px;
        }
    }

    @media (max-width: $sm) {
        & {
            height: initial;
        }      
    }
}
