[am-popup] {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99998;

  &[show-popup='fasle'] {
    display: none;
  }

  &[show-popup='true'] {
    display: block;
  }

  [am-tooltip] {
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    overflow: visible;
    max-width: 400px;
    position: absolute;
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
  }

  [am-button-close] {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    &::before,
    &::after {
      display: inline-block;
      content: '';
      border: 1px solid #868685;
      width: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  [am-intro] {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px auto 20px;
    max-width: 270px;
  }

  [am-text="block_title"] {
    font-size: 21px;
    color: #000000;
    padding-bottom: 10px;
  }

  [am-form-wrapper] {
    margin: 0 auto;
    position: relative;
    max-width: 270px;
  }

  [am-form] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  [am-input-block] {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
  }

  [am-button-block] {
    width: 100%;
    position: relative;
  }

  [am-form] {
    [am-input-block] input,
    [am-input-block] select,
    [am-input-block] textarea {
      margin-bottom: 0;
    }
  }

  [am-label] {
    font-size: 14px;
    color: #A3A2A1;
    padding-bottom: 5px;
    display: block;
  }

  [am-form] textarea,
  [am-form] select,
  [am-form] input {
    width: 100%;
    padding: 10px 20px 10px 10px;
    font-size: 16px;
    color: #000000;
    border-radius: 3px !important;
    outline: none;
    border: 1px solid #C4C4C4;
    height: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;

    &[ps-hide]::placeholder {
      color: transparent;
    }

    &[valid='true'] {
      border-color: #C4C4C4;
    }

    &[valid='false'] {
      border-color: #FF7B7B;
    }
  }

  [am-form] textarea {
    resize: none;
    height: 100px;
  }

  [am-form] input[am-error],
  [am-form] textarea[am-error] {
    border: 1px solid #FF7B7B;
  }

  [am-form] input[am-confirm="true"] {
    border: 1px solid #38466E;
  }

  [am-button] {
    width: 100%;
    margin: 5px 0;
    cursor: pointer;

    &[am-action="next"] {
      margin: 20px 0;
    }
  }

  [am-button="no-border"] {
    border-radius: 3px;
    color: #C20000;
    padding: 11px 10px;
    width: 100%;
    text-align: center;
  }

  [am-disclaimer] {
    font-size: 14px;
    color: #A3A2A1;
    text-align: center;
    width: 100%;

    & [am-disclaimer-link] {
      color: #C20000;
    }
  }

  [am-error="message"] {
    color: #C20000;
    text-align: center;
    margin: 10px 0;
    width: 100%;
  }

  [am-message="error-tooltip"] {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 55;
    font-size: 14px;
    color: #FF7B7B;
    padding: 5px 0;
    margin-bottom: 10px;
  }
}

@media (max-width: $sm) {
  [am-popup] {
    position: relative;

    [am-tooltip] {
      padding: 25px;
      top: auto;
      bottom: 0;
      transform: none;
      border-radius: 0;
      overflow-y: scroll;
      position: unset;
      max-height: 100%;
      max-width: 100%;
    }

    [am-form] textarea,
    [am-form] select,
    [am-form] input {
      margin-bottom: 15px;
    }

    [am-button-close] {
      top: 10px;
      right: 10px;
    }
  }
}

[am-popup][mobile="true"] {
  position: unset;
  z-index: 0;

  [am-tooltip] {
    left: auto;
    position: relative;
    transform: none;
    max-width: none;
    box-shadow: none;
    z-index: 0;
    border-radius: 0;
    padding: 0 0 50px;
    max-width: 100%;
  }

  [am-intro] {
    max-width: 100%;
    align-items: flex-start;
  }

  [am-text] {
    text-align: left;
  }

  [am-form-wrapper] {
    max-width: 100%;
  }
}
