@mixin svg-arrow_down {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 53.982300884955755% 99.26739926739927% no-repeat;
}

@mixin svg-arrow_down-dims {
	width: 19px;
	height: 36px;
}

@mixin svg-arrow_left {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 61.04651162790697% 34.146341463414636% no-repeat;
}

@mixin svg-arrow_left-dims {
	width: 14px;
	height: 22px;
}

@mixin svg-arrow_right {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 61.33720930232558% 19.51219512195122% no-repeat;
}

@mixin svg-arrow_right-dims {
	width: 14px;
	height: 22px;
}

@mixin svg-burger {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 50% 49.645390070921984% no-repeat;
}

@mixin svg-burger-dims {
	width: 30px;
	height: 27px;
}

@mixin svg-burger_close {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 58.610271903323266% 49.46996466431096% no-repeat;
}

@mixin svg-burger_close-dims {
	width: 27px;
	height: 26px;
}

@mixin svg-burger_close_small {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 70.74626865671642% 70.38327526132404% no-repeat;
}

@mixin svg-burger_close_small-dims {
	width: 23px;
	height: 22px;
}

@mixin svg-burger_small {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 39.82035928143713% 59.375% no-repeat;
}

@mixin svg-burger_small-dims {
	width: 24px;
	height: 21px;
}

@mixin svg-circled_arrow {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 98.74213836477988% 58.95522388059702% no-repeat;
}

@mixin svg-circled_arrow-dims {
	width: 40px;
	height: 41px;
}

@mixin svg-circled_arrow_small {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 23.529411764705884% 99.26739926739927% no-repeat;
}

@mixin svg-circled_arrow_small-dims {
	width: 35px;
	height: 36px;
}

@mixin svg-clipper {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 46.58753709198813% 59.16955017301038% no-repeat;
}

@mixin svg-clipper-dims {
	width: 21px;
	height: 20px;
}

@mixin svg-dot_city {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 0 84.16666666666667% no-repeat;
}

@mixin svg-dot_city-dims {
	width: 45px;
	height: 69px;
}

@mixin svg-logo_big {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 0 20.973782771535582% no-repeat;
}

@mixin svg-logo_big-dims {
	width: 182px;
	height: 42px;
}

@mixin svg-logo_red {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 0 0 no-repeat;
}

@mixin svg-logo_red-dims {
	width: 226px;
	height: 56px;
}

@mixin svg-logo_red_small {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 100% 0 no-repeat;
}

@mixin svg-logo_red_small-dims {
	width: 132px;
	height: 33px;
}

@mixin svg-logo_small {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 0 61.510791366906474% no-repeat;
}

@mixin svg-logo_small-dims {
	width: 133px;
	height: 31px;
}

@mixin svg-map_marker_red {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 85.28301886792453% 17.934782608695652% no-repeat;
}

@mixin svg-map_marker_red-dims {
	width: 93px;
	height: 125px;
}

@mixin svg-new_logo {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 0 36.70411985018727% no-repeat;
}

@mixin svg-new_logo-dims {
	width: 181px;
	height: 42px;
}

@mixin svg-new_logo_min {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 0 50.35971223021583% no-repeat;
}

@mixin svg-new_logo_min-dims {
	width: 133px;
	height: 31px;
}

@mixin svg-phone {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 52.199413489736074% 58.76288659793814% no-repeat;
}

@mixin svg-phone-dims {
	width: 17px;
	height: 18px;
}

@mixin svg-placemarker {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 100% 12.790697674418604% no-repeat;
}

@mixin svg-placemarker-dims {
	width: 39px;
	height: 51px;
}

@mixin svg-placemarker_small {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 76.24633431085044% 70.38327526132404% no-repeat;
}

@mixin svg-placemarker_small-dims {
	width: 17px;
	height: 22px;
}

@mixin svg-questions_iphone {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 34.47204968944099% 99.26739926739927% no-repeat;
}

@mixin svg-questions_iphone-dims {
	width: 36px;
	height: 36px;
}

@mixin svg-questions_iphone_hover {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 45.65217391304348% 99.26739926739927% no-repeat;
}

@mixin svg-questions_iphone_hover-dims {
	width: 36px;
	height: 36px;
}

@mixin svg-questions_iphone_small {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 55.96330275229358% 72.92418772563177% no-repeat;
}

@mixin svg-questions_iphone_small-dims {
	width: 31px;
	height: 32px;
}

@mixin svg-questions_iphone_small_hover {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 46.48318042813456% 72.92418772563177% no-repeat;
}

@mixin svg-questions_iphone_small_hover-dims {
	width: 31px;
	height: 32px;
}

@mixin svg-questions_lock {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 13.846153846153847% 76.51515151515152% no-repeat;
}

@mixin svg-questions_lock-dims {
	width: 33px;
	height: 45px;
}

@mixin svg-questions_lock_hover {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 98.15384615384616% 31.818181818181817% no-repeat;
}

@mixin svg-questions_lock_hover-dims {
	width: 33px;
	height: 45px;
}

@mixin svg-questions_lock_small {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 55.015197568389056% 36.43122676579926% no-repeat;
}

@mixin svg-questions_lock_small-dims {
	width: 29px;
	height: 40px;
}

@mixin svg-questions_lock_small_hover {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 55.319148936170215% 20.817843866171003% no-repeat;
}

@mixin svg-questions_lock_small_hover-dims {
	width: 29px;
	height: 40px;
}

@mixin svg-questions_support {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 71.97452229299363% 59.3984962406015% no-repeat;
}

@mixin svg-questions_support-dims {
	width: 44px;
	height: 43px;
}

@mixin svg-questions_support_hover {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 85.98726114649682% 59.3984962406015% no-repeat;
}

@mixin svg-questions_support_hover-dims {
	width: 44px;
	height: 43px;
}

@mixin svg-questions_support_small {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 0 100% no-repeat;
}

@mixin svg-questions_support_small-dims {
	width: 38px;
	height: 38px;
}

@mixin svg-questions_support_small_hover {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 11.875% 100% no-repeat;
}

@mixin svg-questions_support_small_hover-dims {
	width: 38px;
	height: 38px;
}

@mixin svg-questions_video {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 36.024844720496894% 73.18840579710145% no-repeat;
}

@mixin svg-questions_video-dims {
	width: 36px;
	height: 33px;
}

@mixin svg-questions_video_hover {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 24.375% 73.72262773722628% no-repeat;
}

@mixin svg-questions_video_hover-dims {
	width: 38px;
	height: 35px;
}

@mixin svg-questions_video_small {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 40.67278287461774% 50% no-repeat;
}

@mixin svg-questions_video_small-dims {
	width: 31px;
	height: 29px;
}

@mixin svg-questions_video_small_hover {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 97.55351681957187% 46.07142857142857% no-repeat;
}

@mixin svg-questions_video_small_hover-dims {
	width: 31px;
	height: 29px;
}

@mixin svg-video_circle {
	background: url("/src/img/view/svg/sprite.view-9f42f781.svg") 63.88059701492537% 70.62937062937063% no-repeat;
}

@mixin svg-video_circle-dims {
	width: 23px;
	height: 23px;
}

