// Colors
$text_color_light: #ffffff;
$text_color_dark: #6b6b6b;
$text_color_deep_dark: #1f1f1f;
$utility_color: #D70000;
//Fonts-size
$title_size: 34px;
$title_size_md:24px;
$title_size_sm:20px;
$content_size: 15px;
$link_size: 16px;
// Transition
$transition: all 0.1s ease-in-out;
$transition_long: all 0.2s ease-in-out;
$transition_longest: all 0.3s ease-in-out;
//Line-height
$content_line_height:26px;
// Breakpoints
$lg: 1160px;
$md: 959px;
$sm: 720px;
